[submodule "cutlass"]
	path = fahopper/csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "src/quantum_attn/tk_repo"]
	path = src/quantum_attn/tk_repo
	url = git@github.com:HazyResearch/ThunderKittens.git
